.header-one {
  position: sticky;
  height: 230px;
  margin-bottom: -230px;
  z-index: 100;
  top: -90px;
  .top {
    height: 90px;
    &__container {
      
    }
  }
  .bottom {
    &__container {
      .logo {
        position: relative;
        width: 150px;
        height: 130px;
      }
    }
  }
}
