.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  a{
    text-decoration: none;
    border-radius: 30px;
    padding: 14px 30px;
    background-color: #ffffff33;
    color: white;
    font-weight: 800;
    font-size: 18px;
  }
  h1{
    font-weight: 800;
    font-size: 56px;
    line-height: 58px;
    color: white;
    margin-bottom: 50px;
  }
}

.swiper-pagination{
  margin-bottom: 40px;
  padding-left: 50px;
  text-align: start;
  &-bullet {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    opacity: 1;
    svg {
      stroke: #ffffff50;
      stroke-width: 4px;
      fill: none;
      stroke-dashoffset: 0;
      stroke-dasharray: 50.27;
      transform: rotate(-90deg);
    }
  }

}

.swiper-pagination-bullet-active {
  svg {
    stroke: white;
    animation: circleBar 6450ms linear;
  }
}

@keyframes circleBar {
  from {
    stroke-dashoffset: 50.27px;
  }
  to {
    stroke-dashoffset: 0;
  }
}
