.news__main {
  &__container {
    display: flex;
    gap: 25px;
    .aside {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      ul {
        padding: 50px 0 50px 40px;
        border: 1px solid rgba($color: #04305b, $alpha: 0.2);
        li {
          margin-bottom: 20px;
          list-style: none;
          font-size: 18px;
          font-weight: 400;
          a {
            text-decoration: none;
          }
          .active {
            color: #0081ff;
          }
        }
      }
      .sites {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: space-around;
        border: 1px solid rgba($color: #04305b, $alpha: 0.2);
        padding: 50px 25px;
        .img-box {
          position: relative;
          height: 134px;
          width: 140px;
          margin-bottom: 27px;
          img {
            object-fit: contain;
          }
        }
        p {
          text-align: center;
        }
      }
    }
    .mside {
      width: calc(100% - 300px);
      margin-bottom: 110px;
      &__wrapper {
        margin-bottom: 66px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 25px;
        .cardLg {
          grid-column: 1 / span 2;
          flex-grow: 2;
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
          height: 42px;
          width: 42px;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          transition: 0.4s;
          &:first-child {
            box-shadow: 7px 8px 24px 0 rgba($color: #355573, $alpha: 0.15);
            &:hover {
              box-shadow: 7px 8px 24px 0 rgba($color: #355573, $alpha: 0.4);
            }
          }
          &:last-child {
            box-shadow: -7px 8px 24px 0 rgba($color: #355573, $alpha: 0.15);
            &:hover {
              box-shadow: -7px 8px 24px 0 rgba($color: #355573, $alpha: 0.4);
            }
          }
        }
        ul {
          display: flex;
          gap: 20px;
          li {
            cursor: pointer;
            list-style: none;
            font-size: 16px;
            font-weight: 500;
            color: var(--main-color);
            opacity: 0.4;
            &:nth-child(2) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.competition {
  height: 400px;
  margin-bottom: 40px;
  &__container {
    height: 100%;
    background-color: #f4efed;
    position: relative;
    padding: 80px 112px;
    h1 {
      color: var(--main-color);
      font-weight: 800;
      font-size: 24px;
    }
    p {
      color: var(--main-color);
      font-weight: 400;
      font-size: 13px;
      width: 550px;
      margin-bottom: 34px;
    }
    .more {
      font-size: 14px;
      padding: 19px 42px;
      background-color: white;
      border-radius: 100px;
    }
    img {
      position: absolute;
      bottom: 0;
      object-fit: cover;
      right: 110px;
    }
  }
}

@media (max-width: 1150px) {
  .news__main {
    &__container {
      .mside {
        &__wrapper {
          grid-template-columns: auto auto;
          gap: 25px 15px;
        }
      }
    }
  }

  .competition {
    height: 500px;
    &__container {
      padding: 24px 50px;
    }
  }
}

@media (max-width: 800px) {
  .news__main {
    border-top: 1px solid #04305b33;
    &__container {
      flex-wrap: wrap;
      .aside {
        width: 100%;
        min-width: max-content;
        height: 60px;
        border-bottom: 1px solid #04305b33;
        &::-webkit-scrollbar {
          display: none;
        }
        overflow: hidden;
        ul {
          padding: 17px 14px;
          width: 100%;
          min-width: max-content;
          gap: 32px;
          display: flex;
          border: none;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          li {
            margin-bottom: 0;
            height: 25px;
            width: max-content;
          }
        }
        .sites {
          display: none;
        }
      }
      .mside {
        width: 100%;
        &__wrapper {
          grid-template-columns: auto;
          gap: 32px;
          .cardLg {
            display: none;
          }
        }
        .pagination {
          justify-content: center;
        }
      }
    }
  }

  .competition {
    height: 550px;
    &__container {
      padding: 24px 50px;
      p {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        --line-clamp: 5;
        overflow: hidden;
      }
      img {
        object-fit: contain;
        width: 290px;
        height: 267px;
        right: 10px;
      }
    }
  }
}
