.header-two {
  position: sticky;
  background-color: white;
  z-index: 100;
  margin-bottom: 0;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  top: 0px;
  .top {
    &__container {
    }
  }
  .bottom {
    padding-bottom: 15px;
    &__container {
      .logo {
        position: relative;
        width: 82px;
        height: 57px;
      }
    }
  }
}
